 
<!--Jumbotron-->
<div class="jumbotron text-center white-text" id="title">

	<!-- Title and image -->
	<div class="container-fluid row title-home" >

		<!--Title-->
		<div class="col-sm-12 col-md-6 title wow animated bounceInLeft" data-wow-delay="0.5s">
	    
	    	<h1 class="card-title home-head h2-responsive mt-2 font-bold"><strong>QueryDesk.com</strong></h1>

	    	<h4 class="font-italic"><strong>An interactive and intuitive Ticket Support System</strong></h4><br><br>

	    	<button type="button" class="btn btn-rounded started" data-toggle="modal" data-target="#modalLoginForm" >Get Started</button>

		</div>

		<!-- image -->
		<div class="col-sm-12 col-md-6 help wow animated bounceInRight" data-wow-delay="0.5s">
	    
	    	<img src="images/help.png" style="width: 100%;height: 100%;">

		</div>

    </div>

</div>
<!--Jumbotron-->

<!--Steps-->
<div class="container-fluid steps wow" id="steps">

	
	<div class="row wow">
		<!--Steps heading-->
		<div class="col-sm-12 col-md-12  col-lg-8 col-xl-8 steps-heading text-center  wow animated zoomIn" data-wow-delay="0.3s">
			<h1><strong>Why QueryDesk?</strong></h1><br><br>


			<hr style="border-top: 2px solid #E4D9FF;">
			<br>
			<h3 style="font-style: italic;"><strong>We offer the most simple yet elegant way for customers to resolve their queries.Dedicated support is provided to the customer and appropriate solutions are provided to them.A dedicated team is set up to answer to their doubts and difficulties.</strong></h3>
			<br>
			<hr style="border-top: 2px solid #E4D9FF;">

		</div>

	</div>
	

    <!--Steps row-->
    <div class="row mt-5 wow text-center">

        <!--First column-->
        <div class="col-sm-12 col-lg-4 wow fadeIn home-steps " data-wow-delay="0.3s">

            <i class="fa fa-question-circle fa-5x" aria-hidden="true"></i>
            <br>
            <h3><strong>1. Have a Question?</strong></h3>                
        </div>
        <!--/.First column-->

        <!--Second column-->
        <div class="col-sm-12 col-lg-4 wow fadeIn home-steps " data-wow-delay="0.3s">

            <i class="fa fa-laptop fa-5x" aria-hidden="true"></i>
            <br>
            <h3><strong>2. Raise a Ticket</strong></h3>
        
        </div>
        <!--/.Second column-->

        <!--Third column-->
        <div class="col-sm-12 col-lg-4 wow fadeIn home-steps " data-wow-delay="0.3s">

            <i class="fa fa-check-circle-o fa-5x" aria-hidden="true"></i>
            <br>
            <h3><strong>3. Get it Resolved !</strong></h3>
        
        </div>
        <!--/.Third column-->
    </div>
    <!--/.First row-->

</div>




 <!--Features-->
<div class="container-fluid wow features text-center wow animated zoomIn" data-wow-delay="0.3s" id="features">

	<!--Features title-->
	<div class="row wow text-center">

		<div class="col-lg-8 wow fadeIn features-heading" data-wow-delay="0.3s">

		<h1 class="text-center feature-head"><strong>Features</strong></h1>
		<hr style="border-top: 2px solid #30343F;">        
	    
	    </div>

		
	</div>

	
	<!--Feature Entries-->
	<div class="row mt-5 wow features-login text-center">


	    <!-- Support -->
	    <div class="col-sm-12 col-md-6 col-lg-4 wow animated bounceInLeft features-entries" style="color: #0CAB8B;" data-wow-delay="0.3s">

			<i class="fa fa-clock-o fa-5x " style="color: #0CAB8B;" aria-hidden="true"></i><br><br>
			<h4><strong>24 x 7 Support</strong></h4>
	    
	    </div>


    	<!-- Chat -->
	    <div class="col-sm-12 col-md-6 col-lg-4 wow animated zoomIn features-entries" style="color: #C80487;" data-wow-delay="0.3s">

			<i class="fa fa-comments fa-5x " style="color: #C80487;" aria-hidden="true"></i><br><br>
			<h4><strong>Chat like UI</strong></h4>
	    
	    </div>


    	<!-- Filter-->
	    <div class="col-sm-12 col-md-6 col-lg-4 wow animated bounceInRight features-entries" style="color: #C1D701;" data-wow-delay="0.3s">

			<i class="fa fa-filter fa-5x " style="color: #C1D701;" aria-hidden="true"></i><br><br>
			<h4><strong>Filter Query Types</strong></h4>
	    
	    </div>


    	 <!-- Email -->
	    <div class="col-sm-12 col-md-6 col-lg-4 wow animated bounceInLeft features-entries" style="color: #1CAB0C;" data-wow-delay="0.3s">

			<i class="fa fa-envelope fa-5x " style="color: #1CAB0C;" aria-hidden="true"></i><br><br>
			<h4><strong>Email Notifications</strong></h4>
	    
	    </div>


    	<!-- Search -->
	    <div class="col-sm-12 col-md-6 col-lg-4 wow animated zoomIn features-entries" style="color: #FE0202;" data-wow-delay="0.3s">

			<i class="fa fa-search fa-5x" style="color: #FE0202;" aria-hidden="true"></i><br><br>
			<h4><strong>Query Search</strong></h4>
	    
	    </div>
  

    	<!-- Query Info -->
	    <div class="col-sm-12 col-md-6 col-lg-4 wow animated bounceInRight features-entries" style="color: #9436FE;" data-wow-delay="0.3s">

			<i class="fa fa-info-circle fa-5x" style="color: #9436FE;" aria-hidden="true"></i><br><br>
			<h4><strong>Query Info</strong></h4>
	    
	    </div>

	</div>

</div>



